@import "../mixins/mixins.scss";

@include namespace(aside) {
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  @include when(divider) {
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: #eaeaea;
    }
  }
}